.music {
    background-image: url(../img/layout/bg.jpg);
    background-position: center center;
}

.swiper-wrapper{
  margin: 15px;

}

.musicContainer{
  display: flex;
  flex-direction: column;
  position: relative;
 
};

.music__info{
  display: flex;
 
};

.music__banner{
  width: 50%;

};

.music__banner__info {

  padding: 40px;
 
};

.music__banner h1{
  font-size: 150px;
  margin: 0;

 
};

.music__banner h2{
  font-size: 35px;
  margin: 0;

  
};

.music__aside{
  position: absolute;
  width: 50%;
  height: 50vh;
  right: 0%;
  background-image:linear-gradient(rgba(10, 10, 10, 0.808), rgba(17, 16, 16, 0.883)), url("../img/background_aside_music.jpeg");
  background-size: cover;

};

.music__down{
  padding: 3px;
  height: 33vh;
  display: none;
};




//libreria swipper

.swiper{
  height: 100%;
  overflow:visible !important;
}
.swiper-container {

  width: 100%;

 
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px; 
}

.card-cd{
  margin-top: 20px;
  width: 450px !important;
  border-radius: 30px;
  
}

.card-cd img{
  box-shadow: rgba(12, 12, 12, 0.993) 0px 0px 20px 0px;
  border-radius: 20px;
  width: 450px;
}


.swiper-pagination{
  --swiper-theme-color: #2b261e;
}

.play-spotify{
  width: 99%;
  height: 80px;
  border-radius: 20px;
  opacity: 0.9;
  border:none;
}




/* @media (max-width: 1019px) { 

  .music__banner__info {
    position: absolute;
    margin-top: 99px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .music__banner h1 {
    font-size: 110px;
   
}
  .music__banner h2 {
    font-size: 35px;
   
   
  }  
}
@media (max-width: 582px) { 
  .music__down {
    height: 15vh;
}
  .card-cd{
     width: 320px !important;
   }
   
   .card-cd img{
     width: 320px;
   }
} */