.musicContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  
}
.music__info{
  display: flex;
  width:100%;
}
.music__banner{
  padding-top: 4%;
  padding-left: 7%;
  width: 50%;
  height: 70vh;
  background: rgba(0, 0, 0, 0.876);
  color: white; 
  display: flex;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  

}
.music__banner h1{
  font-size: 150px;
  margin: 0;
}
.music__banner h2{
  font-size: 35px;
  margin: 0;
}
.music__aside{
  width: 50%;
  height: 70vh;
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.77) 36px, rgba(0, 0, 0, 0.94) 47px, #040404 25px, #f4f5f9 10px);
}
.music__down{
  height: 33vh;
}




//libreria swipper

.swiper{
  height: 100%;
  overflow:visible !important;
}
.swiper-container {
  position: absolute;
  width: 100%;
  margin-top: 43vh;
 overflow-x: hidden;
 
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  //-webkit-box-reflect: below 0 linear-gradient(transparent, transparent, black);
  

  
}
.card-cd{
 
  width: 300px !important;
  border-radius: 30px;
  
}

.card-cd img{
 
  border-radius: 20px;
  width: 300px;
}


.swiper-pagination{
  --swiper-theme-color: #ebf0ed;
}

.play-spotify{
height: 80px;
border-radius: 20px;
opacity: 0.9;
border:none;
}
/*/versión movil

  .swiper-slide-mbl {
    display: flex;
    width: 253px;
    height: 59px;
    justify-content: center;
    border-radius: 165px;
    font-size: 22px;
    font-weight: bold;
    color: #e91515;
    margin-left: 395px;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
.swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
    width: 100px;
    height: 100px;
    width: 240px;
    z-index: 10;
    transform: translate3d(-720px, 0px, 0px) rotateZ(
0deg) scale(1);
    transition-duration: 0ms;
  }

  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
    width: 100px;
    height: 100px;
    width: 240px;
    z-index: 9;
    transform: translate3d(-720px, 0px, 0px) rotateZ(
0deg) scale(1);
    transition-duration: 0ms;
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
    width: 100px;
    height: 100px;
    width: 240px;
    z-index: 20;
    transform: translate3d(-720px, 0px, 0px) rotateZ(
0deg) scale(1);
    transition-duration: 0ms;
  }

  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
    width: 100px;
    height: 100px;
    width: 240px;
    z-index: 9;
    transform: translate3d(-720px, 0px, 0px) rotateZ(
0deg) scale(1);
    transition-duration: 0ms;
  }

  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
     width: 100px;
    height: 100px;
    width: 240px;
    z-index: 9;
    transform: translate3d(-720px, 0px, 0px) rotateZ(
0deg) scale(1);
    transition-duration: 0ms;
  }

  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
    width: 100px;
    height: 100px;
    width: 240px;
    z-index: 9;
    transform: translate3d(-720px, 0px, 0px) rotateZ(
0deg) scale(1);
    transition-duration: 0ms;
  }
  /*/

  