.flex-center {
  display: flex;
  justify-content: center;
}

@mixin dimensions($background: DarkGray) {
    width: 100%;

    background-color: $background;
}; 

@mixin for-phone-only {
    @media (max-width: 599px) { @content;}
  }

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }

@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

.header{
    display: none;
    @include for-tablet-portrait-up{}
    @include for-tablet-landscape-up{}
    @include for-desktop-up{}
    @include for-big-desktop-up{}
}

.containerGrid{
   

    @include for-phone-only{}
    @include for-tablet-portrait-up{}
    @include for-tablet-landscape-up{}
    @include for-desktop-up{}
    @include for-big-desktop-up{}
};

.header{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;


  .logo-brand {
    min-height: 244px;
    background-image: url("./../img/layout/logo-bg.png");
    background-position: top center;
    display: flex;
    align-items: center;


  }
}


.container-row{
  max-width: 1280px;
  margin: 0 auto;
}

.hero{
  width: 100%;
  height: 100vh;
  max-height: 1024px;
  background-image: url("./../img/layout/bg-hero.jpg");
  background-position: top center;
  background-repeat: repeat-x;

    .container-row {
      padding-top: 200px;
    }

    .canvas_hero{
      width: 100%;
      max-width: 1280px;
    }
}
   

.tour{
    @include dimensions(#a68562);
    
};

.spotify{
    @include dimensions(#a5e4bd);
    
};

.gallery{
    @include dimensions(white);
    
}; 






