@use "./layout.scss";
<<<<<<< HEAD
@use"_music";
=======
@use"./_music.scss";
>>>>>>> 7f80b1d4f7c5c0ff3a550655ec71f617d0765c27



 * {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
     width: 100%;
     max-width: 1440px;
 }


